 
.card{
    border: 1px solid #161D39;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    max-width: 347px;
    padding: 8px;
    margin-bottom: 14px;
    border-radius: 10px;
}
.cardB-none{
    border: none;
}
.icone{    
    margin-right: 10px;     
}
.icone img{          
    width: 196px;    
}
.descritivo p{
    font-size: 13px;
    margin-top: 5px;
}
.titleCard{
    color: #161D39;    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;    
}
@media only screen and (max-width:760px){
    .descritivo{
        text-align: left;
    }
    .descritivo p{
        font-size: 15px;
        margin-top: 5px;
    }
    .card{        
        max-width: 371px;        
    }
    .icone img{          
        width: 260px;    
    }
}