.bloco{
    margin-top: 60px;
}  
.card{
    border: 1px solid #161D39;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    max-width: 347px;
    padding: 8px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.cardB-none{
    border: none;
}
.icone{    
    margin-right: 10px;     
}
.icone img{      
    max-width: 100%!important;
    width: 150px;    
}
.descritivo p{
    font-size: 11px;
    margin-top: 5px;
}
.titleCard{
    color: #161D39;    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;    
}
@media only screen and (max-width:760px){
    .descritivo{
        text-align: left;
    }
}