.btn{
    padding: 8px 15px;
    border: 1px solid var(--second-color);
    color: var(--second-color);
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn a{
    color: aliceblue;
}
.btn:hover{
    color: var(--third-color);
}
.arrowButton{
    font-size: 20px;
    margin-left: 4px;
}

.btnCustom{
    background-color: var(--third-color);
    color: var(--primary-color);
    border: 1px solid;
    border-image: linear-gradient(to right, #161D39, #99EDF8)1;
    padding: 9px 25px;
    font-weight: 600;    
}
.btnCustom a{    
    color: var(--primary-color);       
}
.btnCustom svg{
    color: var(--primary-color); 
    animation: arrow 0.5s;
}
.btnCustom:hover svg{
    animation: arrow-right 1s;
    animation-fill-mode: forwards;
}

@keyframes arrow-right{
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(10px);
    }
}
.formulario .btnForm{
    border: none;
    background-color: var(--primary-color);
    color: var(--third-color);
    font-weight: 600;
    padding: 10px 35px;
    cursor: pointer;
    width: 150px;
    margin: auto;
    display: block;
  }