
@media only screen and (max-width:1200px){
    .backImg{
        background-image: url('../assets/backgroundMobile.png');        
        background-size: 100% 100%;
    }
}
@media only screen and (max-width:768px){
    .backImg{
        background-image: url('../assets/backgroundMobile.png');        
        background-size: 100% 100%;
    }
    .prevServico p{
        text-align: center;
    }
    .listServico li{        
        color: var(--primary-color);        
    }
    .listServico{       
        padding-left: 10px;
    }
    .prevThumb{
        justify-content: center;
    }
    .thumb-item{
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }    
    
}
@media only screen and (max-width:360px){
    .thumb-item{
        margin-right: 10px;
    }
    .sliderServicos{
        width: 320px;
        padding: 30px 0px 22px 29px;
    }
}