.banner{
    height: 500px;    
    background: linear-gradient(to right, rgba(22, 29, 57, 0.6), rgba(22, 29, 57, 0.3)), url("../../assets/bannerHome.jpg");
    background-size: cover; 

    display: flex;  
    justify-content: center;
    align-items: center;
    
}
.blocoTexto{
    width: 600px;
    text-align: center;
    color: #fff;   
}
.blocoTexto p:nth-of-type(2){
    font-size: 12px;
    margin: 10px;
    color: #e4e3e3;
    
}
.blocoTexto h1{
    animation: TitleMain 1s;
    position: relative;
}
.blocoTexto p {
    animation: texto 3.5s ;    
}
@keyframes TitleMain{
    from{
       top: 100px;       
    }
    to {
        top: 0;        
    }
}
@keyframes texto{
    from{
       opacity: 0;       
    }
    to {
        opacity: 1;         
    }
}

