:root {
  --primary-color: #161D39;
  --second-color: #fff;
  --third-color:#9BF1FD;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
  transition: 0.3s;
}
header{
  height: 79;
  background-color: var(--primary-color);
}


.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
  padding: 5px 0;
}
.menu{
  display: flex;
  align-items: center;
  
  height: 100%;
}
.menu li {
  padding: 15px;
}
.menu li a{
  color: #B1AEAE;
  text-transform: uppercase;
  font-weight: 600;
}
.menu a:hover{
  color: var(--third-color);
}
.menu a.active{
  color: var(--third-color);
}
.btn{
  padding: 8px 15px;
  border: 1px solid var(--second-color);
  color: var(--second-color);
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrowButton{
  font-size: 20px;
  margin-left: 4px;
}
.intro{  
  font-family: 'Rubik', sans-serif;
  line-height: 1.8;
  max-width: 600px;
  width: 100%;
  
  display: flex;
  align-items: center;  
}
.s-base{
  width: 100%;
  background-color: var(--primary-color);
  min-height: 550px;
  color: #fff;
  
}
.produtos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}
.produtos figure{    
  overflow: hidden;
  position: relative;  
  width: 250px;
  height: 217px;
  transition: all 0.5s;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
}
.produtos figure:hover {  
  height: 350px;
}
.produtos figure img{
  border-radius: 8px;
}
.produtos figure:hover figcaption{  
  bottom: 0;
}
.produtos figure figcaption p{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
}
.produtos figure figcaption{
  position: absolute;
  bottom: -50px;
  color: 20px;
  z-index: 23;
  background: rgba(22, 29, 57, 0.5);
  width: 100%;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  font-weight: 700;  
  transition: all 0.5s; 
}

