:root {
  --primary-color: #161D39;
  --second-color: #fff;
  --third-color:#9BF1FD;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px; 
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
  transition: 0.3s;
}
img{
  max-width: 100%;
}
header{
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 76px;
  background-color: var(--primary-color);
  box-shadow: 0px 3px 7px rgba(155, 241, 253, 0.2);
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
  padding: 5px 0;
}
main{
  padding-top: 76px;  
}

/*Fim*/


.banner{
  height: 500px;    
  background: linear-gradient(to right, rgba(22, 29, 57, 0.6), rgba(22, 29, 57, 0.3)), url("../public/img/banner/bannerHome.jpg");
  background-size: cover; 
  padding-top: 76px;

  display: flex;  
  justify-content: center;
  align-items: center;
  
}
.blocoTexto{
  width: 600px;
  text-align: center;
  color: #fff;   
}
.blocoTexto h1{
  animation: TitleMain 1s;
  position: relative;
}
.blocoTexto p {
  animation: texto 3.5s ;    
}
.blocoTexto p:nth-of-type(2){
  font-size: 12px;
  margin: 10px;
  color: #e4e3e3;  
}

@keyframes TitleMain{
  from{
     top: 100px;       
  }
  to {
      top: 0;        
  }
}
@keyframes texto{
  from{
     opacity: 0;       
  }
  to {
      opacity: 1;         
  }
}
.intro{  
  font-family: 'Rubik', sans-serif;
  line-height: 1.8;
  max-width: 600px;
  width: 100%;
  
  display: flex;
  align-items: center;  
}
.img-intro{
  max-width: 400px;
  width: 100%;
  margin-top: 30px;
  padding: 0 20px ;
}
.s-base{
  width: 100%;
  background-color: var(--primary-color);
  min-height: 660px;
  color: #fff;
  padding-bottom: 30px;  
}
.produtos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}
.produtos figure{    
  overflow: hidden;
  position: relative;  
  width: 250px;
  height: 217px;
  transition: all 0.5s;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
}
.produtos figure:hover {  
  height: 324px;
}
.produtos figure img{
  border-radius: 8px;
}
.produtos figure:hover figcaption{  
  bottom: 0;
}
.produtos figure figcaption p{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
}
.produtos figure figcaption{
  position: absolute;
  bottom: -50px;
  color: 20px;
  z-index: 23;
  background: rgba(22, 29, 57, 0.5);
  width: 100%;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  font-weight: 700;  
  transition: all 0.5s; 
}
.bloco-valores{
  margin-top: 29px;
} 
.img-valores{
  max-width: 400px;
  width: 100%;
  margin-top: 28px;
}

/*Thumbs galeria home*/
.thumbs-gal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  padding: 0 20px;
}
.img-item, .img-item-middle, .img-item2{
  width: 240px;
  height: 154px;
  margin: 10px 10px; 
  overflow: hidden;
  cursor: pointer;
}

.img-item-middle img{  
  max-width: 100%;
  transition: all 0.3s;
}
.img-item-middle img:hover, .img-item img:hover{  
  transform: scale(1.1);
}
.img-item img{
  width: 100%;
  position: relative;
  top: -55%;
  transition: all 0.3s;
}
.lightbox{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(22, 29, 57, 0.8);
  z-index: 100;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lightbox span{
  position: absolute;
  top: 0;
  right: 30px;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  z-index: 100;  
  cursor: pointer;
  user-select: none;  
}
.btn-lightbox{
  width: 100px;
  display: block;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  padding: 3px 10px;
  color: #161D39;
}



/*sobre*/
.texto-sobre{
  max-width: 620px;  
  line-height: 150.5%;
  
  background-image: url("../public/img/Dot.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 30px 0px 45px 46px;
  text-align: left;
  align-self: flex-start;
}
.texto-sobre p{
  margin-top: 13px;
}
.sobreProfissionais{
  background: linear-gradient(to bottom, rgba(22, 29, 57, 0.9), rgba(22, 29, 57, 0.9)), url("../public/img/capa/profissionais.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  min-height: 450px;
  text-align: center;
  display: grid;
  place-content: center;
  padding: 20px;
}
.sobreProfissionais .profissionais{
  max-width: 800px;
  margin: 0 auto;
  color: var(--second-color);
  padding-bottom:20px ;
}
.sobreProfissionais .profissionais h2{
  margin: 20px 0;
}
.qualidade{
  align-self: center;
  max-width: 440px;
  color: #161D39;
}
.qualidade h2{
  font-size: 36px;
}
.projetosRealizados{
  text-align: center;
  margin-top: 6rem;
  padding: 0 22px;
}
.img-itemCustom{
  width: 185px;
  height: 185px;
  margin: 0.5px;  
}
.img-itemCustom img{
  position: static;
}
/*servicos*/
.backImg{
  background-image: url('../src/assets/background.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 935px;
  border-bottom: 1px solid var(--third-color);
  width: 100%;
}
.prevServico{
  max-width: 1000px;
  margin: auto;
  padding: 7rem 0;    
}
.prevServico p{
 color: var(--primary-color);
}
.prevThumb{
  display: flex;
  flex-wrap: wrap; 
  margin-top: 30px;  
}
.thumb-item{
  max-width: 140px;
  height: 140px;
  width: 100%;
  border-radius: 50%;
  border: 3px solid var(--third-color);
  overflow: hidden;
  margin-right: 30px;
}
.thumb-item img{    
  width: 100%;
}
.listServico{
  color: var(--primary-color);
  font-weight: 600;    
}
.listServico li{
  position: relative;
  margin-bottom: 13px;
  padding: 0 5px;
}
.listServico li::after {
  content: "\2022";
  margin-right: 5px;
  font-size: 33px;
  position: absolute;
  left: -15px;
  top: -13px;
}
.servicos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));    
  align-items: end;    
  grid-gap: 20px;

  margin: 60px 0;
  padding: 0 28px;
}
.sliderServicos h2{
  color: var(--third-color);
  text-align: center;
  font-size: 20px;
}
.sliderServicos{
  background-image: url("../public/img/Dot\ Grid.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 0px 0px 40px 46px;
  align-content: center;
  max-width: 300px;
  margin: auto;
  width: 100%;
}
/*Custom slider*/
.slick-slide img{
  border-radius: 8px;
}
.slick-slider .slick-prev, .slick-next{
  display: none!important;
}
/*Contato*/
.s_titulo{
  text-align: center;
  margin-top:  6rem;
  padding: 0 22px;
  color: var(--primary-color);
}
.s_contato{  
  max-width: 1000px;
  margin: 6rem auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;  
  flex-wrap: wrap;
}
.s_contato .s_texto{
  max-width: 300px;
  color: var(--primary-color); 
  text-align: left;
}
.s_contato .s_texto > h2{
  margin-bottom: 10px;
}
.s_contato .s_texto p{
  font-size: 13px;
  margin: 0;
}
.s_contato .s_texto .canais{
  display: flex;
  align-items: center;
  
  max-width: 255px;
  width: 100%;  
  margin: 20px 0;
}
.s_contato .s_texto .canais div.icones{  
  max-width: 56px;
  width: 100%;  
}
.s_contato .s_texto .canais_titulo{
  font-weight: 600;
  display: block;
  color: var(--primary-color);
}
.s_contato .s_texto .canais .atendimento, .horario{
  width: 100%;
  color: #B1B0B0;
  font-weight: 600;
}
.formulario{  
  max-width: 450px;
  width: 100%;
  padding: 0 5px;  
}
.formulario input, textarea{
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 2px;
  outline-color: var(--primary-color);
  border: 1px solid #B1B0B0;
}
.formulario input::placeholder, textarea::placeholder{
  font-size: 12px;
  color: #B1B0B0;
}
.formulario textarea{
  width: 100%;
  height: 160px;
  resize: none;  
}
/* medias queries*/
@media only screen and (max-width:980px){
  .s-baseCards{        
    height: 800px;
  }
}
@media only screen and (max-width:768px){
  h2{
    font-size: 24px;
  }
  .produtos figure{     
    width: 300px;    
  }
  .thumbs-gal .img-item, .img-item-middle{
    width: 300px;
    height: 185px;
  }  
  .qualidade h2{    
    margin-bottom: 20px;
  }
  .s_titulo{
    display: none;
  }
  .s_contato{
    justify-content: center;
  }
  .s_contato .s_texto{
    max-width: 450px;
    width: 100%;
    text-align: center;
  }
  .s_contato .s_texto .canais{
    margin: 20px auto;
    text-align: left;
  }
  .formulario{
    margin-top: 30px;
  }
}

@media only screen and (max-width:660px){
  .s-baseCards{    
    min-height: 1235px;    
  }
  .thumbs-gal .img-itemCustom{
    width: 100%;
    height: 300px;
    margin: 5px 0;
    border-radius: 5px 
  }
  
}
