:root {
  --primary-color: #161D39;
  --second-color: #fff;
  --third-color:#9BF1FD;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px; 
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
  transition: 0.3s;
}
img{
  max-width: 100%;
}
header{
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 76px;
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px 0px rgba(155, 241, 253, 0.3);
}

.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
  padding: 5px 0;
}


/*Fim*/

.arrowButton{
  font-size: 20px;
  margin-left: 4px;
}
.intro{  
  font-family: 'Rubik', sans-serif;
  line-height: 1.8;
  max-width: 600px;
  width: 100%;
  
  display: flex;
  align-items: center;  
}
.img-intro{
  max-width: 400px;
  width: 100%;
  margin-top: 30px;
  padding: 0 20px ;
}
.img-intro img{
  max-width: 100%;
}
.s-base{
  width: 100%;
  background-color: var(--primary-color);
  min-height: 600px;
  color: #fff;
  padding-bottom: 30px;  
}
.produtos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}
.produtos figure{    
  overflow: hidden;
  position: relative;  
  width: 250px;
  height: 217px;
  transition: all 0.5s;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
}
.produtos figure:hover {  
  height: 324px;
}
.produtos figure img{
  border-radius: 8px;
}
.produtos figure:hover figcaption{  
  bottom: 0;
}
.produtos figure figcaption p{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
}
.produtos figure figcaption{
  position: absolute;
  bottom: -50px;
  color: 20px;
  z-index: 23;
  background: rgba(22, 29, 57, 0.5);
  width: 100%;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  font-weight: 700;  
  transition: all 0.5s; 
}
.img-valores{
  max-width: 400px;
  width: 100%;
}

/*Thumbs galeria home*/
.thumbs-gal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  padding: 0 20px;
}
.img-item, .img-item-middle{
  width: 240px;
  height: 154px;
  margin: 10px 10px; 
  overflow: hidden;
  cursor: pointer;
}

.img-item-middle img{  
  max-width: 100%;
  transition: all 0.3s;
}
.img-item-middle img:hover, .img-item img:hover{  
  transform: scale(1.1);
}
.img-item img{
  width: 100%;
  position: relative;
  top: -55%;
  transition: all 0.3s;
}
.lightbox{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(22, 29, 57, 0.8);
  z-index: 100;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lightbox span{
  position: absolute;
  top: 0;
  right: 30px;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  z-index: 100;  
  cursor: pointer;
  user-select: none;
  
}
.btn-lightbox{
  width: 100px;
  display: block;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  padding: 3px 10px;
  color: #161D39;
}

/*Fim thumbs-gal*/
@media only screen and (max-width: 768px){
  .produtos figure{     
    width: 300px;    
  }
  .thumbs-gal .img-item, .img-item-middle{
    width: 300px;
    height: 185px;
  }
}

/*sobre*/
.bloco-texto{
  max-width: 620px;
  font-family: 'Rubik';
  line-height: 150.5%;
  
  background-image: url("../public/img/Dot.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 30px 0px 45px 46px;
  text-align: left;
}
.bloco-texto p{
  margin-top: 10px;
}
.sobreProfissionais{
  background: linear-gradient(to bottom, rgba(22, 29, 57, 0.9), rgba(22, 29, 57, 0.9)), url("../public/img/capa/profissionais.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  min-height: 450px;
  text-align: center;
  display: grid;
  place-content: center;
  padding: 20px;
}
.sobreProfissionais .profissionais{
  max-width: 800px;
  margin: 0 auto;
  color: var(--second-color);
}
.sobreProfissionais .profissionais h2{
  margin: 20px 0;
}
.qualidade{
  align-self: center;
  max-width: 440px;
  color: #161D39;
}
.qualidade h2{
  font-size: 36px;
}