.center{    
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
.column{
    flex-direction: column;
    align-items: center;
}
.padd{
    padding: 0 30px;
}
.thumbsHome-gal{
    justify-content: center;
    flex-wrap: wrap
}
@media only screen and (min-width: 750px) and (max-width: 980px){
    .center{
        justify-content: center;
    }
}
@media only screen and (min-width: 380px) and (max-width: 749px){
    .center{
        justify-content: center;
        text-align: center;
        padding: 0 20px;
    }
}
