.menu{
    display: flex;
    align-items: center;
    
    height: 100%;
  }
  .menu li {
    padding: 15px;
  }
  .menu li a{
    color: #B1AEAE;
    text-transform: uppercase;
    font-weight: 600;
  }
  .menu a:hover{
    color: var(--third-color)!important;
  }
  .menu a.active{
    color: var(--third-color)!important;
  }
  /*Menu-Footer*/
  .menuFooter .menu-rodape{
    flex-direction: column;
    align-items: flex-start;   
    position: static;
    
  }
  .menu-rodape li {
    padding: 2px;
  }
  .menuFooter .menu-rodape li a{
    color: var(--second-color); 
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding: 8px 0;
  }

@media only screen and (min-width: 750px) and (max-width:990px){
    .navbar{
        margin: 0 20px
    }
    .menu li{
        padding: 0 5px;
    }
    .menu li a{
        font-size: 14px;
    }
}
@media only screen and (min-width: 380px) and (max-width:749px){
    .navbar{
        margin: 0 20px;
        
        align-items: center;
    }
    .btnMenu{
        display: none!important;
    }
    .menu{
        display: block;
        position: fixed;
        top: -297px;
        left: 0;
        width: 100%;
        z-index: 100;
        height: auto;        
        transition: all 0.3s;
    }
    .menuAtivo{
        top: 76px;
        background-color: var(--primary-color);
    }
    .menu li{        
        padding: 0;
    }
    .menu li a{
        display: block;
        text-align: center!important;
        padding: 15px;        
    }
    .toggle{        
      margin: 0 10px;
      cursor: pointer;      
      padding: 10px;
  }
  
  .toggle .line{
      display: block;
      width: 40px;
      height: 3px;
      background-color: red;
      margin: 10px 0;
      border-radius: 3px;        
  }
}
